@media (max-width:675px) {
    body {
        overflow: auto;
    }
    .container {
        height: 100%;
    }
    .card {
        flex-direction: column;
        margin-top: -18px;
    }

    .card-result {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .result-text h1 {
        font-size: 18px;
    }

    #circle {
        padding: 1em;
        width: 80px;
    }

    #circle strong {
        font-size: 50px;
    }
    
    #circle p {
        width: 80px;
        font-size: 13px;
    }

    .result-text h2 {
        font-size: 23px;
    }

    .result-text p {
        font-size: 14px;
    }

    .card-sumary {
        height: 370px;
    }

    .card-sumary h1 {
        font-size: 18px;
    }

    .attribution {
        margin-top: 7em;
        padding-bottom: 20px;
    }
}

@media (max-height:580px) {
    .attribution {
        display: none;
    }
}